[
  "Άνδρας",
  "Άνθρωποι",
  "Άνοιξη",
  "Αγόρι",
  "Αιγαίας",
  "Αντωνυμίες",
  "Απρίλιος",
  "Αραβικός",
  "Αριθμοί",
  "Αττική",
  "Αύγουστος",
  "Γάλλος",
  "Γαλλία",
  "Γερμανός",
  "Γη",
  "Δάσκαλος",
  "Δεκέμβριος",
  "Δευτέρα",
  "Διάφορα",
  "Δουλειά",
  "Εβραϊκά",
  "Εγώ",
  "Ελλάδα",
  "Ενδύματα",
  "Εξαίρεση",
  "Επίθετα",
  "Εποχές",
  "Ηλεκτρονική",
  "Ημέρες",
  "Θεός",
  "Θησαυρού",
  "Ιανουάριος",
  "Ιαπωνικά",
  "Ιούλιος",
  "Ιούνιος",
  "Ισπανικά",
  "Ιταλικά",
  "Κένταυρος",
  "Καλοκαίρι",
  "Κοινωνία",
  "Κορέας",
  "Κυριακή",
  "Κόμμα",
  "Λερναία",
  "Μάιος",
  "Μάρτιος",
  "Μήδεια",
  "Ιφιγένεια",
  "Ποσειδώνας",
  "Μήνες",
  "Μαθηματικά",
  "Μεταφορά",
  "Μετρήσεις",
  "Νοέμβριος",
  "Οδηγίες",
  "Οκτώβριος",
  "Ολλανδός",
  "Ορθογράφος",
  "Ουσιαστικά",
  "Ούγγρος",
  "Πέμπτη",
  "Παρασκευή",
  "Πελοπόννησος",
  "Πορτογάλος",
  "Ποτά",
  "Πτώση",
  "Ρήματα",
  "Ρωσικός",
  "Σάββατο",
  "Σέργιος",
  "Σεπτέμβριος",
  "Σπίτι",
  "Σώμα",
  "Τέχνη",
  "Τετάρτη",
  "Τηλεόραση",
  "Τοποθεσία",
  "Τρίτη",
  "Τροφή",
  "Υλικά",
  "Φέγγω",
  "Φεβρουάριος",
  "Φύση",
  "Χειμώνας",
  "Χρόνος",
  "Χρώμα",
  "άγγελος",
  "άγκυρα",
  "άκρο",
  "άλλος",
  "άλμα",
  "άλογο",
  "άμμος",
  "άνεμος",
  "άνθρωπος",
  "άνοιξη",
  "άντρας ",
  "άποικος",
  "άρρωστος",
  "άσκηση",
  "άσχημος",
  "έγκαυμα",
  "έδαφος",
  "έλξη",
  "ένα",
  "έξω",
  "έπαινος",
  "έρχομαι ",
  "έτοιμος",
  "έτος",
  "έχει",
  "έχω",
  "ήλιος",
  "ήμισυ",
  "ήσυχα",
  "ήταν",
  "ήχος",
  "ίντσα",
  "ίππος",
  "αέρας",
  "αίθουσα",
  "αίμα",
  "αβαθής",
  "αγάπη",
  "αγγίζετε",
  "αγγίζω",
  "αγγελία",
  "αγγούρι",
  "αγελάδα",
  "αγκάθι",
  "αγκίστρι",
  "αγκαλιά",
  "αγκινάρα",
  "αγκώνας",
  "αγοράσετε",
  "αγορά",
  "αγρόκτημα",
  "αγόρι",
  "αδειάζω",
  "αδελφή",
  "αδελφός",
  "αδύναμος",
  "αεροδρόμιο",
  "αεροπλάνο",
  "αθλητισμός",
  "αθροίζω",
  "αισθάνομαι",
  "αιτία",
  "αιτιατική",
  "ακολουθήστε",
  "ακούσουν",
  "ακούστε",
  "ακριβός",
  "αλάτι",
  "αλλάζω",
  "αναβλύζω",
  "ανακατεύετε",
  "αναμειγνύεται",
  "ανατολή",
  "ανεμιστήρας",
  "ανθρώπινος",
  "ανοιχτός",
  "ανοιχτό",
  "ανύψωση",
  "απορρίμματα",
  "απόγευμα",
  "από",
  "απώτερο",
  "αρίθμηση",
  "αργός",
  "αριστερά",
  "αρσενικός",
  "ασήμι",
  "ασθενής",
  "αστέρι",
  "αστυνομία",
  "αυγό",
  "αυλή",
  "αυτά",
  "αυτές",
  "αυτή",
  "αυτί",
  "αυτοί",
  "αυτοκίνητο",
  "αυτός",
  "αυτό",
  "αύριο",
  "βάρκα",
  "βάρος",
  "βαθύς",
  "βαρύς",
  "βασίλισσα",
  "βασιλιάς",
  "βεγγαλικό",
  "βελόνα",
  "βενζίνη",
  "βιβλίο",
  "βιβλιοθήκη",
  "βλάβη",
  "βλέπω",
  "βλαστός",
  "βοήθεια",
  "βοδινό κρέας",
  "βολή",
  "βουνό",
  "βρείτε",
  "βροχή",
  "βρώμικος",
  "βόρεια",
  "γάλα",
  "γάμου",
  "γάτα",
  "γέλιο",
  "γέννα",
  "γένος",
  "γέρος",
  "γέφυρα",
  "γείτονας",
  "γεια",
  "γειτόνισσα",
  "γενειάδα",
  "γεύση",
  "γης",
  "γιαγιά",
  "γιατί ",
  "γιατρός",
  "για",
  "γκαράζ",
  "γκρί",
  "γκρι",
  "γλώσσα",
  "γνωρίζω",
  "γογγύζω",
  "γράμμα",
  "γράφω",
  "γρήγορα",
  "γραμμή",
  "γραμματέας",
  "γραμματική",
  "γρασίδι",
  "γραφείο",
  "γριά",
  "γυναίκα",
  "γωνία",
  "γόνατο",
  "δάσος",
  "δάχτυλο",
  "δέντρο",
  "δέρμα",
  "δίκαιο",
  "δίκτυο",
  "δακρύζω",
  "δακτύλιος",
  "δανείζω",
  "δείπνο",
  "δεν",
  "δεξιά",
  "δεύτερος",
  "δηλητήριο",
  "δημοσιογράφος",
  "διάλειμμα",
  "διάστημα",
  "διαβάζω",
  "διακοπή",
  "διαμάντι",
  "διαμέρισμα",
  "διδάσκω",
  "διευθυντής",
  "δικαστήριο",
  "δικηγόρος",
  "δισεκατομμύριο",
  "δολάριο",
  "δολοφονία",
  "δουλειά",
  "δροσερός",
  "δρόμου",
  "δυνατά",
  "δυσαρέσκεια",
  "δωμάτιο",
  "είμαι",
  "δόντι",
  "είτε",
  "δύση",
  "δώρο",
  "είδα",
  "είπα",
  "είχα",
  "είδος",
  "είκοσι",
  "εβδομάδα",
  "εγγόνι",
  "εγκέφαλος",
  "εγώ ",
  "εδάφους",
  "εδώ",
  "εθνικότητα",
  "ειδικός",
  "εικόνα",
  "ειρήνη",
  "ειρωνεία",
  "εισιτήριο",
  "εκατομμύριο",
  "εκατοστόμετρο",
  "εκεί",
  "εκκλησία",
  "εκλογή",
  "εκραγεί",
  "εκστρατεία",
  "εκτός",
  "ελάχιστα",
  "ελευθερία",
  "εμείς",
  "εμπρός",
  "ενέργεια",
  "ενήλικας",
  "ενδύματα",
  "εννιά",
  "επάνω",
  "επίθεση",
  "επίθετο",
  "επειδή",
  "επιστήμη",
  "επιστολή",
  "εποχή",
  "εργαλείο",
  "εργασία",
  "ερωτησεις",
  "εσείς",
  "εστιατόριο",
  "εσύ",
  "εταιρεία",
  "ευγενικός",
  "ευθεία",
  "ευλογία",
  "ευρύς",
  "ευτυχία",
  "ευτυχισμένος",
  "ευχή",
  "ευχαριστώ",
  "εφημερίδα",
  "εύφορη",
  "ζάχαρη",
  "ζεστός",
  "ζωγραφίζω",
  "ζωντανός",
  "ζώο",
  "ηθοποιός",
  "ηλεκτρονικός",
  "ημέρα",
  "ημερομηνία",
  "θάλασσα",
  "θάνατος",
  "θέατρο",
  "θέλω",
  "θαυμάζω",
  "θερμοκρασία",
  "θερμότητα",
  "θηλυκός",
  "θρησκεία",
  "θρησκευτικά",
  "θύμα",
  "ιατρική",
  "ιδρώτας",
  "ισχυρός",
  "ισόγειο",
  "κάγκελα",
  "κάθε",
  "κάθονται",
  "κάμερα",
  "κάνω",
  "κάρτα",
  "κάτι",
  "κάτω",
  "κάτω μέρος",
  "κέικ",
  "κήπος",
  "κήρυκας",
  "κίτρινος",
  "καίω",
  "καθαρίστε",
  "καινούργιος",
  "και",
  "κακός",
  "καλά",
  "καλαμπόκι",
  "καλημέρα",
  "καλησπέρα",
  "καλλιεργώ",
  "καλλιτέχνης",
  "καλός",
  "καρέκλα",
  "καρδιά",
  "κατάστημα",
  "κατασκήνωση",
  "κατασκευή",
  "κατεύθυνση",
  "καυτό",
  "καφές",
  "καφέ",
  "καύση",
  "κείμενο",
  "κελαρύζω",
  "κεφάλαιο",
  "κεφάλι",
  "κιλό",
  "κινέζικα",
  "κινητήρας",
  "κινητό",
  "κλήρωση",
  "κλήση",
  "κλαίω",
  "κλείνω",
  "κλειδαριά",
  "κοιλάδα",
  "κοιλιά",
  "κοιτάζω",
  "κολυμπώ",
  "κομμάτι",
  "κοντά",
  "κοντός",
  "κορίτσι",
  "κορυφή",
  "κοστούμι",
  "κοτόπουλο",
  "κουζίνα",
  "κουτάλι",
  "κουτί",
  "κουφός",
  "κούνημα",
  "κρέμονται",
  "κρασί",
  "κραυγή",
  "κρεβάτι",
  "κρεμαλα",
  "κρύο",
  "κτίριο",
  "κυπαρίσσι",
  "κυρτή",
  "κόβω",
  "κόκκινος",
  "κόκκινο",
  "κόλαση",
  "κόλλα",
  "κόρη",
  "κόσμος",
  "κύκλος",
  "κύμα",
  "κύπελλο",
  "λάμπα",
  "λάστιχο",
  "λέξη",
  "λέσχη",
  "λέω",
  "λίγο",
  "λίμνη",
  "λίρα",
  "λαιμός",
  "λεκές",
  "λεμόνι",
  "λεπτός",
  "λεπτό",
  "λευκό",
  "λευτεριά",
  "λεωφορείο",
  "λιγότερο",
  "λιώσει",
  "λουλούδι",
  "λυπημένος",
  "λόφος",
  "μάγειρας",
  "μάθετε",
  "μάτι",
  "μέλισσα",
  "μέσα",
  "μέσος",
  "μέταλλο",
  "μήλο",
  "μήνας",
  "μαγείρισσα",
  "μαγκούρα",
  "μαζί",
  "μακριά",
  "μακρύς",
  "μαλακός",
  "μαλλιά",
  "μαχαίρι",
  "μαύρος",
  "μεγάλος",
  "μεγάλο",
  "μεγαλώνουν",
  "μεσημεριανό",
  "μετά",
  "μετανάστευση",
  "μεταφορά",
  "μετρητής",
  "μητέρα",
  "μικρά",
  "μικρός",
  "μιλήσετε",
  "μιλώ",
  "μισός",
  "μολύβι",
  "μουσική",
  "μπάλα",
  "μπάντα",
  "μπανάνα",
  "μπαρ",
  "μπλε",
  "μπορώ",
  "μπουκάλι",
  "μπράτσο",
  "μπύρα",
  "μυρμήγκι",
  "μυρωδιά",
  "μωρό",
  "μόλις",
  "μόνο",
  "μύγα",
  "μύτη",
  "νέος",
  "νίκη",
  "ναι",
  "νεκρός",
  "νερό",
  "νησί",
  "νικήσει",
  "νοιώθω",
  "νομίζω",
  "νομοσχέδιο",
  "νοσοκομείο",
  "νόσος",
  "νότια",
  "νύχτα",
  "ξέρω",
  "ξανά",
  "ξαπλώνω",
  "ξενοδοχείο",
  "ξυπνήστε",
  "ξύλο",
  "οίκος",
  "οδηγώ",
  "οθόνη",
  "οικογένεια",
  "ομάδα",
  "οροφή",
  "οστό",
  "ουρανός",
  "πάγος",
  "πάλη",
  "πάλι",
  "πάνω",
  "πάρκο",
  "πάτωμα",
  "πάχους",
  "πάω",
  "πέτρα",
  "πίσω",
  "παίζω",
  "παίχτης",
  "παγκάκι",
  "πάγκος",
  "παιδί",
  "παιχνίδι",
  "παιχνιδι",
  "παλτό",
  "πανεπιστήμιο",
  "παντελόνι",
  "παντρευτεί",
  "παπάς",
  "παπούτσια",
  "παππούς",
  "παράδειγμα",
  "παράδεισος",
  "παράθυρο",
  "παρά",
  "παραδείγματος",
  "παραδειγματάκια",
  "παραλία",
  "πατέρας",
  "παύση",
  "περάσει",
  "περίφημος",
  "περιβάλλον",
  "περιοδικό",
  "περισσεύω",
  "περισσότερο",
  "περπατώ",
  "πετρέλαιο",
  "πεύκα",
  "πηλός",
  "πιγκουίνος",
  "πιρούνι",
  "πισίνα",
  "πλάκα",
  "πλήθος",
  "πλήκτρο",
  "πλαστική ύλη",
  "πλατεία",
  "πλευρά",
  "πληρώνουν *",
  "πλοίο",
  "πλούσιος",
  "πλύση",
  "ποδήλατο",
  "ποια",
  "ποιος",
  "ποιο",
  "πολιτεία",
  "πολλά",
  "πολύ",
  "ποντίκι",
  "πορτοκάλι",
  "ποτάμι",
  "ποτήρι",
  "ποτό",
  "πουκάμισο",
  "πουλί",
  "πού",
  "πράξη",
  "πράσινος",
  "πρέπει",
  "πρίγκιπας",
  "πριν",
  "προς",
  "προσευχή",
  "προσεύχομαι",
  "πρωί",
  "πρωινό",
  "πρόγραμμα",
  "πρόεδρος",
  "πρόσωπο",
  "πρότυπο",
  "πτώση",
  "πυρηνικός",
  "πωλήσει",
  "πως",
  "πόδι",
  "πόλη",
  "πόνος",
  "πώς",
  "ρήμα",
  "ρίζα",
  "ραδιόφωνο",
  "ροζ",
  "ρολόι",
  "ρύζι",
  "σήμα",
  "σήμερα",
  "σαλιγκάρι",
  "σαν",
  "σαπούνι",
  "σειρά",
  "σεισμός",
  "σελίδα",
  "σερβιτόρος",
  "σημείο",
  "σημείωση",
  "σιδηροδρομικός",
  "σιωπή",
  "σκάβω",
  "σκληρά",
  "σκοτάδι",
  "σκοτώσει",
  "σκόνη",
  "σκότους",
  "σκύλος",
  "σοβαρότητα",
  "σούπα",
  "σπάγκος",
  "σπίτι",
  "σπουδαίος",
  "σπόρος",
  "στάση",
  "στέγη",
  "σταθμό",
  "στεγνώσει",
  "στενός",
  "στεφάνι",
  "στρατιώτης",
  "στρατός",
  "στρογγυλό",
  "στροφή",
  "στυλό",
  "συγγένεια",
  "συγγραφέας",
  "συγκάτοικος",
  "συγκίνηση",
  "συγκοινωνία",
  "συγκρίνω",
  "συγχύζω",
  "συλλογή",
  "σφίγγω",
  "σφιχτός",
  "σφύζω",
  "σχίσιμο",
  "σχολείο",
  "σύζυγός",
  "σύλληψη",
  "σύμβαση",
  "σύμφωνο",
  "σύννεφο",
  "σώμα",
  "τέσσερις",
  "τέχνη",
  "ταινία",
  "ταυτόχρονα",
  "τείνω",
  "τελεία",
  "τεχνολογία",
  "τηλέφωνο",
  "τηλεόραση",
  "τιμή",
  "τι",
  "τοίχος",
  "τοποθεσία",
  "τουαλέτα",
  "το",
  "το στόμα",
  "τράπεζα",
  "τρένο",
  "τρέξιμο",
  "τρέχει",
  "τραγουδώ",
  "τραγούδι",
  "τραπέζι",
  "τροφή",
  "τρύπα",
  "τρώω",
  "τσάι",
  "τσάντα",
  "τσέπη",
  "τυρί",
  "τυφλός",
  "τώρα",
  "υγιής",
  "υγρός",
  "υλικό",
  "υπάλληλος",
  "υπάρχω",
  "υπνοδωμάτιο",
  "υπολογιστής",
  "υπουργείο",
  "υπόδειγμα",
  "υψηλός",
  "φάρμακο",
  "φάω",
  "φέρουν",
  "φίλος",
  "φαρμακείο",
  "φεγγάρι",
  "φεγγίτης",
  "φθηνά",
  "φθορά",
  "φιλί",
  "φοιτητής",
  "φορτηγό",
  "φούστα",
  "φτερό",
  "φτωχός",
  "φυλή",
  "φυλακή",
  "φυτό",
  "φωνήεν",
  "φωνή",
  "φως",
  "φωτιά",
  "φωτογραφία",
  "φωτός",
  "φόρεμα",
  "φύλλα",
  "φύλλο",
  "φύλο",
  "φύση",
  "χάνουν",
  "χάρτης",
  "χέρι",
  "χαίρε",
  "χαλκός",
  "χαμηλός",
  "χαμόγελο",
  "χαρτί",
  "χείλη",
  "χειμώνας",
  "χθες",
  "χιόνι",
  "χοίρος",
  "χοιρινό",
  "χορεύουν",
  "χρήματα",
  "χρειάζομαι",
  "χρυσός",
  "χρόνος",
  "χρώμα",
  "χυμός",
  "χύμα",
  "χώρα",
  "ψάρι",
  "ψηλός",
  "ψυχή",
  "ψωμί",
  "ψωμί ",
  "ωκεανών",
  "ωραία",
  "ωραίος",
  "όλος",
  "όμοιος",
  "όμορφος",
  "όμως",
  "όνειρο",
  "όνομα",
  "όπλο",
  "όργανο",
  "ότι",
  "όχι",
  "ύπνος",
  "ώθηση",
  "ώμος",
  "ώρα"
]
